<a href="https://colab.research.google.com/github/Kimskaya/FinalTestWork/blob/main/semanar10python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 44. В ячейке ниже представлен код, генерирующий DataFrame, которая состоит всего из одгого столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies.

In [1]:
import pandas as pd

In [5]:
import random

In [6]:
lst = ['robot']*10
lst +=['human']*10
random.shuffle(lst)
data=pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  robot
3  human
4  human

In [39]:
robot_human_class=list(set(lst))
one_hot = pd.DataFrame(columns=robot_human_class)

In [41]:
for kind in robot_human_class:
  class_col =[]
  for item in lst:
    if item == kind:
      class_col.append(1)
    else:
      class_col.append(0)
  one_hot[i] = class_col

In [37]:
one_hot

    robot  human
0       1      0
1       0      1
2       1      0
3       0      1
4       0      1
5       0      1
6       1      0
7       1      0
8       1      0
9       0      1
10      0      1
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      1      0
18      1      0
19      1      0